<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/Achudh.jpg">
              </a>
              <p style="color: #ffffff;">
                Achudh Krishna(+91 9677167273)
              </p>
            </div>
          </div>
        </div>


        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/Logeswar.jpg">
              </a>
              <p style="color: #ffffff;">
                Logeswar(+91 9789019054)
              </p>
            </div>
          </div>
        </div>



      </ion-list>





    </ion-content>
</ion-view>
