<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/sangeet.jpg">
              </a>
              <p style="color: #ffffff;">
                Sangeet Das (+91-9658228744)
              </p>
            </div>
          </div>
        </div>


        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/diksha.jpg">
              </a>
              <p style="color: #ffffff;">
                Diksha Singh (+91-8987556587)
              </p>
            </div>
          </div>
        </div>



      </ion-list>





    </ion-content>
</ion-view>
